.bouton_ajouter{
	padding:6px 0 6px 0; /* espacements entre le texte et les bordure du bouton */
	background: #604C8D; /* couleur du background */
	color:#fff; /* couleur du texte */
	width:90px; /* largeur du bouton */
	border-radius:2px; /* arrondi des angles */
	border:none; /* retrait des bordures visibles */
    cursor:pointer; /* changement du curseur en pointer au passage sur le bouton */
    margin-right: 5px; /* espacement entre le bouton et le dernier élément à droite */
    margin-bottom: 5px; /* espacement entre le bouton et le dernier élément en bas */
    float: right; /* placer le bouton le plus à droite possible par rapport aux autres éléments */
}

li{
    list-style: none; /* suppression des styles de la liste */
}

.div_formulaire{
    display: inline-block; /* disposition des éléments en blocs alignés */
    width: 20%; /* largeur de la div */
    margin-left: 40%; /* espacement de 40% avec le dernier élément à gauche */
    margin-top: 5%; /* espacement de 5% avec le dernier élément en haut */
    border: 2px solid black; /* choix de l'épesseur des bordures ainsi que la couleur */
    text-align: center; /* centrage du texte */
    padding: 5px; /* espacement de 5px entre les éléments internes et les divs */
}